body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(155, 155, 155);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    text-align: center;
    background-color: #ffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.author {
    font-size: 0.8rem;
}

.btn-quote {
    background-color: rgb(32, 83, 136);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.btn-quote:hover {
    background-color: #fff;
    color: #333;
    transition: all 0.1s ease-in-out;
    border: 1px solid #333;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    font-weight: 900;
}